.produtos {
 display: grid;
 grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
 gap: 20px;
 max-width: 900px;
 margin: 0 auto;
 width: 390px;
}

.bolo-card{
    display:flex;
    justify-content: space-between;
    align-items: center;

    background:#fff;
    padding:10px;
    border-radius: 12px;
    margin-bottom: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.8);
    width:auto;
}

.info{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/*LADO ESQUERDO*/


.info .bolo-card{
    max-width: 65%;
}



.info:hover {
    transform: translateY(-5px);
}


.titulo {
    margin:0;
    font-size: 14px;
    
    ;
}

.descricao {
    font-size: 12px;
    color: #777;
    margin: 5px 0;
}

.preco{
    color:#ff4d6d;
    font-weight: bold;
}

.bolo-card button {
    margin-top: 8px;
    padding: 6px 12px;
    border: none;
    background: #ff4d6d;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    width: 120px;
    height: 35px;
    font-size: 14px;

}

.bolo-card img{
    width: 70px;
    height:70px;
    border-radius: 10px;
    object-fit: cover;

}

/*imagem grande*/

.lado-direito{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;

}

.img-zoom {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 10px;
}


