.produtos{
    width: 100%;
    max-width:900px;
    margin:0 auto;
    padding: 20px;

}

.produtos h2{
    text-align: center;
    margin-bottom: 20px;
}

.bolos-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.bolo-card{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    padding: 15px;
    border-radius: 16px;
    box-shadow:0 2px 10px rgba(0,0,0,0.15);
}

.info{
    display:flex;
    flex-direction: column;
    gap: 8px;
    max-width: 65%;

}

.titulo{
    font-size: 18px;
    margin:0;
}

.descricao{
    font-size: 14px;
    color:#777;
}

.lado-direito{
    display:flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.img-zoom{
   width: 90px;
   height: 90px;
   object-fit:cover;
   border-radius: 12px;
   cursor:pointer;
   transition: 0.3s;
}

.img-zoom:hover{
    transform: scale(1.08);
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
}


/* Quando a imagem é clicada e ganha a classe imagem-grande */
.imagem-grande{
    position:fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:90vw;
    max-width: 500px;
    height: auto;
    z-index: 9999;
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(0,0,0,.5);
}

.bolo-card button{
    border:none;
    background:#ff4d6d;
    color: white;

    padding: 8px 14px;
    border-radius: 20px;
    cursor:pointer;
}

@media(max-width:768px){
    .bolo-card{
        flex-direction: row;
        align-items: center;
    }
    .info{
        max-width: 60%;
    }
    .titulo{
        font-size: 16px;
    }
    .descricao{
        font-size: 12px;
    }

    .img-zoom{
        width:70px;
        height: 70px;
    }

    .bolo-card button{
        width: 100px;
        font-size: 12px;
    }
}





